
@model CamionesWebMVCGenMar.Models.DTOs.LoginDTO

<div class="container" style="margin-top:50px; max-width:400px;">
    <h2 class="text-center">Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary btn-block">
            Entrar
        </button>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    }
</div>