@model IEnumerable<CamionesWebMVCGenMar.Models.Chofer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlFoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdChofer }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdChofer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdChofer })
        </td>
    </tr>
}

</table>
